.pio/
.pioenvs/
.piolibdeps/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

*.o
*.elf
*.bin
*.hex
*.out

build/
__pycache__/
*.pyc

*.swp
*.swo
*~
.DS_Store

*_secrets.h

platformio.ini
